
<mat-sidenav-container class="example-container"> <!---->
  <mat-sidenav class="side-bar" #sidenav mode="side" opened="true">
    <mat-toolbar class="side-toolbar" color="primary">
      <!-- <mat-icon class="sidebar-space">apps</mat-icon> -->
      <span>Navigation menu</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <mat-list>
      <!-- <div mat-subheader>Folders</div> -->
      <mat-list-item *ngFor="let item of navbarData" class="list" [routerLink]="item.link" matRipple>
        <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
        <div mat-line>{{item.title}}</div>
        <!-- <mat-divider></mat-divider> -->
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [matMenuTriggerFor]="notifications">
        <mat-icon>notifications</mat-icon>
      </button>
      <mat-menu #notifications="matMenu">

      </mat-menu>
      <button mat-icon-button class="example-icon right-icons" aria-label="Example icon-button with share icon" [matMenuTriggerFor]="profile">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #profile="matMenu">
        <button mat-menu-item>
          <mat-icon>mail</mat-icon>
          <span>Welcome Admin</span>
        </button>
        <button mat-menu-item>
          <mat-icon>cached</mat-icon>
          <span>Change password</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>login</mat-icon>
          <span>Log out</span>
        </button>
        <br>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Version 1.10.4</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
