.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.side-bar{
    border: none !important;
    width: 15%;
}

.list{
  cursor: pointer;
}

.list:hover{
    background-color: #F6F5F5;
}

.list:focus{
  outline: none;
  border: 0;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.main mat-list{
  cursor: pointer;
}

.top-bar{
  background-color: white !important;
}



.right-icons mat-icon{
  font-size: 33px;
}

@media only screen and (max-width: 900px){
  .side-bar{
    width: auto !important;
  }
}
