<br>
<div class="form">
<form [formGroup]="batchesList" novalidate>
<mat-form-field class="example-full-width-one" appearance="outline">
  <mat-label>Slots</mat-label>
  <mat-select formControlName="slot">
    <mat-option *ngFor="let item of allBatches" [value]="item._id">
      {{item.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
</form>

<button mat-flat-button color="primary" class="add-btn" (click)="addBatch()" [disabled]="!this.batchesList.valid">Add Batch</button>
</div>
<!--data table-->
<div class="table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
        <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(element) : null"
                    [checked]="selection.isSelected(element)"
                    [aria-label]="checkboxLabel(element)">
      </mat-checkbox>
    </td>
  </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element" > {{participantsData.indexOf(element) + 1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" > {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="samyak_id">
        <th mat-header-cell *matHeaderCellDef> Samyak id </th>
        <td mat-cell *matCellDef="let element" > {{element.samyak_id}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element" > {{element.email}} </td>
      </ng-container>

    <!--book mark-->
      <!-- Symbol Column -->
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
        <td mat-cell *matCellDef="let element" > {{element.mobile}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="college_id">
        <th mat-header-cell *matHeaderCellDef> College Id </th>
        <td mat-cell *matCellDef="let element" > {{element.college_id}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="slot">
        <th mat-header-cell *matHeaderCellDef> Slot </th>
        <td mat-cell *matCellDef="let element" >
          <div *ngFor="let item of element.slot">
            {{item.name}} , 
          </div>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="more">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element" >
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item >
              <mat-icon>info</mat-icon>
              <span>More Info</span>
            </button>
            <button mat-menu-item (click)="deleteSlot(element)">
              <mat-icon>delete</mat-icon>
              <span>Delete Batch</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
