.example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 100%;
  }

  .table{
    margin-left: 1%;
    margin-right: 1%;
  }

  .test{
    background-color: #dddddd;
    color: #000;
  }

  .form{
    margin-left: 2%;
    margin-bottom: 2%;
  }

  .loader{
    display: flex;
    justify-content: center;
    align-items: center;
  }
