<h2 mat-dialog-title>Add New Event</h2>
<mat-dialog-content class="mat-typography">
  <div class="event-form">
    <form class="example-form" [formGroup]="addEvent" novalidate>
      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Event Name</mat-label>
        <input matInput id="event-name" formControlName="name">
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Department</mat-label>
        <mat-select formControlName="department">
          <mat-option *ngFor="let item of departments" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Organiser Samyak Id</mat-label>
        <input matInput id="organiser" formControlName="organiser">
      </mat-form-field>


      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Multiple Events Allowed</mat-label>
        <mat-select formControlName="multiple_events_allowed">
          <mat-option *ngFor="let item of multiple_events_allowed" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Event Link</mat-label>
        <input matInput id="link" formControlName="attending_link">
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Venue</mat-label>
        <input matInput id="venue" formControlName="venue">
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Registration Price</mat-label>
        <input matInput id="price" formControlName="registration_price">
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Event Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let item of data" [value]="item._id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Event Code</mat-label>
        <input matInput id="code" formControlName="code">
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline" style="width: 80%;">
        <mat-label>Description</mat-label>
        <textarea  matInput id="description" formControlName="description"></textarea>
      </mat-form-field>

      <br>
<!--  this.addEvent.controls['day1_start_time'].disable();
  this.addEvent.controls['day2_start_time'].disable();
  this.addEvent.controls['day3_start_time'].disable();

  this.addEvent.controls['day1_end_time'].disable();
  this.addEvent.controls['day2_end_time'].disable();
  this.addEvent.controls['day3_end_time'].disable();

  this.addEvent.controls['day1_date'].disable();
  this.addEvent.controls['day2_date'].disable();
  this.addEvent.controls['day3_date'].disable();-->

      <mat-checkbox formControlName="day1_event" (click)="disableOne()">Day-1</mat-checkbox>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Start Time</mat-label>
        <input matInput type="time" id="time1" formControlName="day1_start_time">
        <mat-hint>Time Format Shoud be 24 Hours </mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>End Time</mat-label>
        <input matInput type="time" id="time2" formControlName="day1_end_time">
        <mat-hint>Time Format Shoud be 24 Hours</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Day-1 Date</mat-label>
        <input matInput [matDatepicker]="dp1" formControlName="day1_date" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1 disabled="false"></mat-datepicker>
      </mat-form-field>

      <br>

      <mat-checkbox formControlName="day2_event" (click)="disableTwo()">Day-2</mat-checkbox>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Start Time</mat-label>
        <input matInput type="time" id="time3" formControlName="day2_start_time" >
        <mat-hint>Time Format Shoud be 24 Hours </mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>End Time</mat-label>
        <input matInput type="time" id="time4" formControlName="day2_end_time">
        <mat-hint>Time Format Shoud be 24 Hours </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Day-2 Date</mat-label>
        <input matInput [matDatepicker]="dp2" formControlName="day2_date" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp2" ></mat-datepicker-toggle>
        <mat-datepicker #dp2 disabled="false"></mat-datepicker>
      </mat-form-field>

      <br>

      <mat-checkbox formControlName="day3_event" (click)="disableThree()">Day-3</mat-checkbox>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Start Time</mat-label>
        <input matInput type="time" id="time5" formControlName="day3_start_time" >
        <mat-hint>Time Format Shoud be 24 Hours </mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>End Time</mat-label>
        <input matInput type="time" id="time6" formControlName="day3_end_time" >
        <mat-hint>Time Format Shoud be 24 Hours </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Day-3 Date</mat-label>
        <input matInput [matDatepicker]="dp3" formControlName="day3_date" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>


    </form>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial color="primary" (click)="add()">Add Event</button>
</mat-dialog-actions>
