<h2 mat-dialog-title>Batches Info</h2>
<mat-dialog-content class="mat-typography">
  <div class="display">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let item of allBatches">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{item.meet_link}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="batch-data">
          Date: {{item.date}} <br>
          Start Time : {{item.start_time}} <br>
          End Time : {{item.end_time}}
        </div>

        <button mat-raised-button cdkFocusInitial color="warn" (click)="delete(item)">Delete Batch</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <br>
  <div class="event-form">
    <form class="example-form" [formGroup]="addBatchesForm" novalidate>
      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Slot Name</mat-label>
        <input matInput type="text" formControlName="name" id="slotname">
        <mat-hint>Some demo hint</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Meeting Link</mat-label>
        <input matInput type="text" formControlName="meet_link" id="link">
        <mat-hint>Some demo hint</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Start Time</mat-label>
        <input matInput type="time" id="start_time" formControlName="start_time">
        <mat-hint>Time Format Shoud be 24 Hours </mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>End Time</mat-label>
        <input matInput type="time" id="end_time" formControlName="end_time">
        <mat-hint>Time Format Shoud be 24 Hours </mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Event Code</mat-label>
        <input matInput type="text" id="eventId" formControlName="event">
        <mat-hint>Some demo hint</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width-one" appearance="outline">
        <mat-label>Multiple Events Allowed</mat-label>
        <mat-select formControlName="multiple_events_allowed">
          <mat-option *ngFor="let item of multiple_events_allowed" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br><br>
      <button mat-raised-button cdkFocusInitial color="primary" style="margin-left: 2%;" (click)="add()">Add New Batch</button>
    </form>

  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
