<h2 mat-dialog-title>Edit Event</h2>
<mat-dialog-content class="mat-typography">
  <div class="edit-form">
      <form class="example-form" [formGroup]="editEventsForm" novalidate>
        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Event Name</mat-label>
          <input matInput id="name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Event Code</mat-label>
          <input matInput id="code" formControlName="code">
        </mat-form-field>

        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Department</mat-label>
          <mat-select formControlName="department">
            <mat-option *ngFor="let item of departments" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Organiser SamyakId</mat-label>
          <input matInput id="organiser" formControlName="organiser">
        </mat-form-field>

        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Registration Price</mat-label>
          <input matInput id="registration_price" formControlName="registration_price">
        </mat-form-field>


        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Venue</mat-label>
          <input matInput id="venue" formControlName="venue">
        </mat-form-field>

        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Multiple Events Allowed</mat-label>
          <mat-select formControlName="multiple_events_allowed">
            <mat-option *ngFor="let item of multiple_events_allowed" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Event Type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let item of data.allEventTypes" [value]="item._id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="example-full-width-one" appearance="outline" style="width: 80%;">
          <mat-label>Description</mat-label>
          <textarea  matInput id="description" formControlName="description"></textarea>
        </mat-form-field>

      </form>
  </div>
</mat-dialog-content>
