.btns{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 2%;
  margin-top: 2%;
}

.btns button{
  margin-left: 2%;
}


.event-form{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.event-form .example-full-width-one{
  width: 25%;
  padding: 20px;
}

table {
  width: 100%;
}

.table{
  margin-left: 1%;
  margin-right: 1%;
}
