<div class="wrapper container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="dashboard-stat purple">
        <div class="visual">
          <i class="fa fa-calendar-o"></i>
        </div>
        <div class="details">
          <div class="number">
            <span>31</span>
          </div>
          <div class="desc">Accounts Registered</div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="dashboard-stat blue">
        <div class="visual">
          <i class="fa fa-bar-chart-o"></i>
        </div>
        <div class="details">
          <div class="number">
            <span>50</span>
          </div>
          <div class="desc">Users Payed</div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="dashboard-stat hoki">
        <div class="visual">
          <i class="fa fa-credit-card"></i>
        </div>
        <div class="details">
          <div class="number">
            <span>20</span>
          </div>
          <div class="desc">Users registered into events</div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="dashboard-stat red">
        <div class="visual">
          <i class="fa fa-comments"></i>
        </div>
        <div class="details">
          <div class="number">
            <span>0</span>
          </div>
          <div class="desc">Failed transactions</div>
        </div>
      </a>
    </div>
  </div>
</div>