.filter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
}
